body {
  background: beige
}

p {
  text-align: center

}

h1 {
  font-size: 96px;
  background-color: burlywood;
  color: lemonchiffon;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 25px;
  font-weight: 200;
  background-color: rgb(207, 161, 61);
  text-align: right;
}

#underCard {
color: #000;
font-style: italic;
text-align: center;
text-decoration: underline; 
letter-spacing: 0.1em
}

img {
  float: right;
  top: 175px;
  right: 300px;
  padding: 20px;
}

#questions {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 50px;  
  max-width: 650px;
  line-height: 30px;
}

#albums {
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 50px;  
  max-width: 650px;
  line-height: 20px;
}

#fewThings {
  text-align: left;
  margin-top: 50px;
  padding-bottom: 100px;
  line-height: 25px;
}